* {
    border: 1px solid red;
}

#grid {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.application {
    display: flex;
    justify-content: center;
}

.input-width .input-height {
    display: flex;
}

.settings {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
    width: auto;
}

.items {
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid red;
}