* {
}

#grid {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application {
    display: flex;
    justify-content: center;
}

.input-setting,
.button-setting {
    margin: 2px;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.rows {
    display: flex;
    width: auto;
}

.items {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}