* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #002b36;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%
}

.title {
    margin: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: #93a1a1;
}


#grid {
    margin: 0% 20%;
}

.items {
    width: 1%;
    padding-bottom: 1%;
    float:left;
    position: relative;
    overflow: hidden;
    background-color: #586e75;
    z-index: 2;
    
}